.about-content-outer{
    width: 1005;
    height: auto;
    z-index: 1;
    background: none;
    padding-top: 25vh;
 }
 .about-heading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
 }
 .top-text-about{
    color:rgb(245, 244, 249) ;
    font-size: 80px;
    background: none;
 }
 .bottom-text-about{
    color:rgb(240, 249, 242) ;
    background: none;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 95px;
 }
 
  /* media query */
@media screen and (min-width:1140px){
   .about-content-outer{
       padding-left: 10px;
   }
   .top-text-about{
      font-size: 60px;
   }
}
@media screen and (min-width:767px)  and (max-width:1139px){
   .about-content-outer{
      padding-left: 10px;
   }
   .top-text-about{
      font-size: 50px;
   }
   .bottom-text-about{
      font-size: 40px;
   }

}
@media screen and (max-width:767px){
   .top-text-about{
      font-size: 35px;
   }
   .bottom-text-about{
      font-size: 25px;
   }
   .about-content-outer{
      padding-top:80px;
   }
}
