.contact-content-outer{
    width: 100vw;
    height: auto;
    z-index: 1;
    background: none;
    padding-top: 45vh;
}
.contact-heading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
}
.contact-top-text{
    color:rgb(244, 240, 240) ;
    background: none;
    font-size: 80px; 
}
.contact-text{
    color:rgb(239, 236, 236) ;
    background: none;
    font-size: 40px; 
    margin-left: 250px;
}
