 .pricing{
    width: 100%;
    padding: 6rem 1rem;
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.card{
    text-align: center;
    padding: 2px;
    width: 300px;
    margin-left: 100px;
    background-color: rgb(100, 98, 98);
    border: 1px solid white;

}
.card:hover{
    background-color: rgb(163, 161, 161);
}
.card h3{
    color: aliceblue;
    font-size: 20px;
    padding: 1rem;
}
.card p{
    padding: 10px 0;
    background: none;
}
.bar{
    width: 10%;
    display: block;
}
.btc{
    font-size: 3rem;
    font-weight:600 ;
    padding: 1rem 0;
}
.price{
    margin-left: 0px;
}

@media screen and (max-width:768px) {
    .card-container{
        max-width: 90%;
        margin-top: 15px;
        grid-template-columns: 1fr;
       
    }
    .card{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .pricing{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}
