.project-background-img{
    background-image: url("../img/ProWalljpg.jpg");
    width: 100vw;
    height:90vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index:1;
    display: inline-block;
}

@media screen and (min-width:1140px){
    .background-img{
        width: 100vw;
        height:90vh;
    }
}
@media screen and (min-width:767px) and (max-width:1139px){
    .background-img{
        background: fixed;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:767px){
    .background-img{
        background: fixed;
        width: 100%;
        height: auto;
    }
}
